<h3>Articles</h3>

<ul>
  <% @articles.each do |article| %>
    <li><strong><a href = "<%=article.link%>"><%= article.title %></a></strong></li>
    <%= link_to "#{article.comments.count} comments", article_path(article) %>
  <% end %>
</ul>
<% if current_user %>
  <%= link_to "Add Article", new_article_path, :class => "btn btn-success" %>
<% end %>
