<h3>Articles</h3>

<ul>
  <% @articles.each do |article| %>
    <li><strong><a href = "<%=article.link%>"><%= article.title %></a></strong></li>
    <%= link_to "View Comments", article_path(article) %>
  <% end %>
</ul>
<% if current_user %>
  <%= link_to "Add Article", new_article_path, :class => "btn btn-success" %>
<% end %>
<br>
<a href="http://github.com/expandrew/hn">View the source code for this project on GitHub</a>