<h1>Hacker News Revamped</h1>

<h3>Articles</h3>

<ul>
  <% @articles.each do |article| %>
    <li><%= article.name %></li>
  <% end %>
</ul>

<%= link_to "Add Article", new_article_path, :class => "btn btn-success" %>
